html {
  font-family: "Open Sans", sans-serif;
  color: #a7a7a7;
  background: #121224;
  font-size: 1vw;
}

#app {
  padding: 20px 30px 2rem 21rem;
}

:root {
  --vs-background: 31, 30, 59;
  --vs-text: 255, 255, 255;
  --vs-color: 255, 255, 255;

  --vs-gray-1: 26, 26, 40;
  --vs-gray-2: 26, 26, 40;
  --vs-gray-3: 14, 14, 29;
  --vs-gray-4: 26, 26, 40;
}
